*{
    font-family: 'Poppins', sans-serif;
    background-color: #121214;
}
body{
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
h1{
    font-size: 30px !important;
    font-weight: bolder;
    color: blueviolet;
}
label{
    margin-top: 20px;
    
    color: rgb(105, 65, 143);
}
small{
    font-style: italic;
}
span{
    color: rgba(214, 69, 53, 0.822);
}
.form-control{
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
    border: none !important;
    border-bottom: 5px solid rgb(139, 51, 234) !important; 
    width: 20vw !important;
}
.form-control::placeholder{
    opacity: 0.3 !important;
    font-style: italic !important;
}
.container-pessoais{
    display: block;
}
button{
    text-decoration: none !important;
    font-style: normal !important;
}
.cadastrar{ 
    font-style: normal;

    margin-top: 10px;
    background-color: rgb(146, 64, 240);
    color: white;
    padding: 5px 30px;
}
@media(max-width:1000px){
    .container{
        padding: 2vw;
        width: 100% !important;
    }
    body{
        position: absolute;
        top: 70%; /* centralizar a parte interna do preload (onde fica a animação)*/
        left: 40%;
        transform: translate(-50%, -50%);  
    }
    .form-control{
        width: 150% !important;
    }
}